---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    email: {{ acme_issuer_email }}
    server: {{ acme_server }}
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    solvers:
      - dns01:
          webhook:
            groupName: acme.ionos.com
            solverName: ionos
            config:
              apiUrl: {{ ionos_api_endpoint }}
              publicPrefixSecretRef:
                name: ionos-credentials
                key: IONOS_PUBLIC_PREFIX
              secretSecretRef:
                name: ionos-credentials
                key: IONOS_SECRET
